
  .markdown-content {
    line-height: 1.7;
    max-width: 800px;
    padding: 20px ;
    background-color: #181822;
  }
  
  .markdown-content h1 {
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 0.5rem;
    margin: 2rem 0;
  }